<div class="message mb-2 <%= 'me' if message.user == current_user %>">
  <div class="content-container">
    <div class="content">
      <%= message.content %>
    </div>
    <div class="author">
      <%= message.user.username %>
    </div>
  </div>
</div>
