<div class="message mb-2">
  <div class="content-container">
    <div class="content">
      <%= message.content %>
    </div>
    <div class="author">
      <%= message.user.username %>
    </div>
  </div>
</div>
